<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>pace</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/cxf.xml</param-value>
  </context-param>
  <context-param>
  	<description>
  	Vaadin production mode</description>
  	<param-name>productionMode</param-name>
  	<param-value>false</param-value>
  </context-param>  
  <env-entry>
   <env-entry-name>pace/paceHome</env-entry-name>
   <env-entry-type>java.lang.String</env-entry-type>
   <env-entry-value>..\..</env-entry-value>
  </env-entry>   
  <env-entry>
   <env-entry-name>pace/autoStart</env-entry-name>
   <env-entry-type>java.lang.Boolean</env-entry-type>
   <env-entry-value>False</env-entry-value>
  </env-entry>   
  <listener>
    <listener-class>
      org.springframework.web.context.ContextLoaderListener
    </listener-class>
  </listener>
  <servlet>
    <servlet-name>CXFServlet</servlet-name>
    <servlet-class>
        org.apache.cxf.transport.servlet.CXFServlet
    </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>PafInitServlet</servlet-name>
    <servlet-class>
        com.pace.server.PafInitServlet
    </servlet-class>
    <load-on-startup>10</load-on-startup>
  </servlet>
  <servlet>
  	<servlet-name>PaceSettingsApplication</servlet-name>
  	<servlet-class>com.vaadin.terminal.gwt.server.ApplicationServlet</servlet-class>
  	<init-param>
  		<description>
  		Vaadin application class to start</description>
  		<param-name>application</param-name>
  		<param-value>com.pace.settings.PaceSettingsApplication</param-value>
  	</init-param>
  	<init-param>
  		<description>
  		Application widgetset</description>
  		<param-name>widgetset</param-name>
  		<param-value>com.pace.settings.widgetset.Pace_serverWidgetset</param-value>
  	</init-param>
  </servlet>

  <servlet-mapping>
  	<servlet-name>PaceSettingsApplication</servlet-name>
  	<url-pattern>/settings/*</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>PaceSettingsApplication</servlet-name>
  	<url-pattern>/VAADIN/*</url-pattern>
  </servlet-mapping>
      
  <servlet-mapping>
    <servlet-name>CXFServlet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>PafInitServlet</servlet-name>
    <url-pattern>/PafInitServlet</url-pattern>
  </servlet-mapping>





</web-app>
